
<div class="container">

  <div class="panel-container">
    <p id="notice"><%= notice %></p>




<div class="panel panel-default panel-transparent">
  <div class="panel-heading">
    <h2 class="panel-title"><%= @park.name %></h2>
  </div>
  <div class="panel-body">
    <%= @park.description %><br>
    <img src="<%= @park.picture %>" width="100%">
  </div>
  <button type="button" class="btn btn-lg btn-default"><%= link_to 'Edit', edit_park_path(@park) %></button>

  <button type="button" class="btn btn-lg btn-default"><%= link_to 'All Parks', parks_path %></button><br>
</div>






</div>
</div>
