<div class="kill-panel">
  <div class="panel panel-default panel-transparent">

    <div class="panel-heading">
      <h2 class="panel-title"><%= @park.name %></h2>
    </div>

    <div class="panel-body">
      <%= @park.description %><br><br>

      <% if @park.rangers.length > 0 %>
      Rangers
        <% @park.rangers.each do |ranger | %>
          <li><%= ranger.name %></li>
        <% end %>
      <% else %>
      There is no assigned ranger.
      <% end %>


      <p>
        <%= cl_image_tag(@park.picture, :width => 400, :height => 200, :crop => :fill) %>
      </p>
    </div>
  </div>

  <button type="button" class="btn btn-lg btn-default"><%= link_to 'Edit', edit_park_path(@park) %></button>

  <button type="button" class="btn btn-lg btn-default"><%= link_to 'Back to All Parks', parks_path %></button><br>

</div>
